.container {
    display: block;
    margin: auto;
}

.pie-chart {}

li.san-raw::before {
    color: #0088FE;
}

li.lum-raw::before {
    color: #ed87eb;
}

li.rawan::before {
    color: #fc1500;
}

li.cen-kon::before {
    color: #3df70f;
}

li.kondusif::before {
    color: #fa7f52;

}