.container {
    display: block;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: flex-end;
  }
  
  img {
    width: 160px;
  }
  
  .nav-img {
    position: absolute;
  }
  
  .nav-btn {
    padding: 10px 40px;
    border: 1px solid cadetblue;
    border-radius: 25px;
    margin: 15px 10px;
    background: turquoise;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
  }
  
  .nav-btn:hover {
    background: white;
    color: turquoise;
    border: 1px solid turquoise;
    cursor: pointer;
}